.faq {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
    position: relative;
    width: 1183px;
  }
  
  .faq .headline-button {
    align-items: center;
    align-self: stretch;
    display: flex;
    height: 57px;
    justify-content: space-between;
    margin-bottom: -3.00px;
    position: relative;
    width: 100%;
  }
  
  .faq .question-instance {
    flex: 1 !important;
    flex-grow: 1 !important;
    width: unset !important;
  }
  
  .faq .instance-node {
    width: 925px !important;
  }
  
  .faq .button-drop {
    align-self: stretch;
    position: relative;
    width: 100px;
  }
  
  .faq .headline-button-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    height: 57px;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .faq .divider {
    align-self: stretch;
    height: 2px;
    position: relative;
    width: 100%;
  }
  
  .faq .p {
    align-self: stretch;
    color: #99775c;
    font-family: "REM", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 88px;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -4.00px;
    position: relative;
  }
  
  .faq.open {
    height: 208px;
  }
  
  .faq.closed {
    height: 102px;
  }
  